{
  "extends": ["taro/react"],
  "rules": {
    "jsx-quotes": ["error", "prefer-double"],
    "import/no-commonjs": "off",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off"
  }
}
